body{

font-family:Arial;

background:#f4f6fa;

padding:40px;

}

table{

width:100%;

background:white;

border-collapse:collapse;

}

th,td{

padding:12px;

border-bottom:1px solid #eee;

text-align:center;

}

.loginBox{

width:300px;

margin:auto;

margin-top:150px;

background:white;

padding:30px;

border-radius:10px;

}
