body{

font-family:Arial;
background:#f5f6fa;
padding:30px;

}

h1{

color:#2f3640;

}

table{

width:100%;
border-collapse:collapse;
background:white;

}

th,td{

padding:10px;
border-bottom:1px solid #eee;

}

button{

padding:6px 12px;
background:#0984e3;
color:white;
border:none;
cursor:pointer;

}

canvas{

margin-top:40px;

}
